src/node-red/flows/assembly-to-mqtt.json
[
    {
        "id": "5a231d9ae387cf1a",
        "type": "tab",
        "label": "PM500 Assembly → MQTT",
        "disabled": false,
        "info": "Polls Assembly Instance 100 Attribute 3 every 500 ms and publishes to MQTT.\nUsage: Import into Node-RED, configure the CIP connection, and update the MQTT out node credentials/topic as needed.\nDepends on node-red-contrib-cip-ethernet-ip and Node-RED's built-in MQTT nodes."
    },
    {
        "id": "f64c6b160fb6a5d0",
        "type": "comment",
        "z": "5a231d9ae387cf1a",
        "name": "PM500 assembly read to MQTT",
        "info": "Polls assembly 100 attribute 3 twice per second, converts binary watts reading to JSON, and publishes on `pm500/assembly/100/attribute/3`. Ensure MQTT broker credentials are set on the downstream MQTT out node before deploying.",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "b5fce7012b988136",
        "type": "inject",
        "z": "5a231d9ae387cf1a",
        "name": "500 ms poll",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "f91fcfdcd7bd11c9"
            ]
        ]
    },
    {
        "id": "f91fcfdcd7bd11c9",
        "type": "function",
        "z": "5a231d9ae387cf1a",
        "name": "Prepare CIP read",
        "func": "// Input: timer trigger message.\n// Output: CIP request describing assembly instance 100 attribute 3.\nmsg.payload = {\n    service: 'get_attribute_single',\n    objectType: 'assembly',\n    instance: 100,\n    attribute: 3\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "info": "Builds the envelope expected by node-red-contrib-cip-ethernet-ip for polling the PM500 assembly attribute.",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "f9ea7856b9d6dfb9"
            ]
        ]
    },
    {
        "id": "f9ea7856b9d6dfb9",
        "type": "cip out",
        "z": "5a231d9ae387cf1a",
        "name": "Assembly 100 Attr 3",
        "connection": "e6287b284c3f81ef",
        "operation": "get_attribute_single",
        "datatype": "buffer",
        "topic": "assembly/100/attribute/3",
        "info": "Uses the configured CIP connection to fetch the binary payload from the PM500. Requires node-red-contrib-cip-ethernet-ip.",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "2f5d464b3a9d0a53"
            ]
        ]
    },
    {
        "id": "2f5d464b3a9d0a53",
        "type": "function",
        "z": "5a231d9ae387cf1a",
        "name": "Format for MQTT",
        "func": "// Input: Buffer payload returned from the CIP out node.\n// Output: JSON string ready for MQTT publish plus topic metadata.\nconst buf = Buffer.from(msg.payload);\nconst watts = buf.length >= 4 ? buf.readFloatLE(0) : 0;\nmsg.payload = JSON.stringify({\n    source: 'pm500',\n    attribute: 3,\n    watts,\n    timestamp: Date.now()\n});\nmsg.topic = 'pm500/assembly/100/attribute/3';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "info": "Converts the binary watts reading into a JSON payload suitable for MQTT subscribers.",
        "x": 820,
        "y": 140,
        "wires": [
            [
                "e6db32216b7b6ef9"
            ]
        ]
    },
    {
        "id": "e6db32216b7b6ef9",
        "type": "mqtt out",
        "z": "5a231d9ae387cf1a",
        "name": "MQTT",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c0cd958423bf7b4d",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "e6287b284c3f81ef",
        "type": "cip-config",
        "name": "PM500 Listen-Only",
        "host": "192.168.1.50",
        "port": 44818,
        "slot": 0,
        "timeout": 1000,
        "listenOnly": true
    },
    {
        "id": "c0cd958423bf7b4d",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "mqtt-broker",
        "port": "1883",
        "clientid": "pm500-node-red",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
